body{
	background-image: url("../img/stripe.png");
	background-repeat: repeat;
	padding: 0 1em 0 1em; 
}

#container{
	background-color: #f5f5f5;
	border-radius: 10px;
}

#left,#right{
	background-color:orange;
	padding: 5px;
	border-radius:10px;  
}

h3{
	text-transform: capitalize;
}

p{
	text-indent:10px; 
	text-align: justify;
	line-height: 1.5em;
}

p::first-line{
	font-weight: bold;
}

p::first-letter{
	font-size:1.5em; 
}

h3{
	letter-spacing: 2px;
}

a:link{
	text-decoration: none;
}

a:visited{
	color: black;
}

a:hover{
	color: aqua;
	text-decoration: underline;
}

hr{
	 
}